div {
    height: 500px;
    width: 800px;
    background-color: rgb(29, 19, 48);
    border-radius: 50px;
    margin: 30px;
    margin-left: 360px;
    position: relative;
    animation-name: teste;
    animation-duration: 4s;
}
@keyframes teste{
    0% {background-color: rgba(29, 19, 48, 0);bottom: 100px;}
    50% {background-color: rgb(29, 19, 48);bottom: 0px;}


}

body {
    background-color: rgb(7, 0, 20);
}