div {
    height: 500px;
    width: 800px;
    background-color: rgba(236, 233, 233, 0.904);
    border-radius: 30px;
    margin: 30px;
    margin-left: 360px;
    position: relative;
    animation-name: teste;
    animation-duration: 2s;
    color: rgb(34, 13, 13);
    font-size: 30px;
    padding: 10px;

}
@keyframes teste{
    0% {background-color: rgba(214, 214, 214, 0);bottom: 100px;}
    100% {background-color: rgb(236, 233, 233, 0.904);bottom: 0px;}


}

body {
    background-color: rgb(209, 198, 198);
}
input {
    width: 200px;
    background-color: rgb(136, 136, 139);
    border-radius: 10px;
}
table, th, td {
    border:3px solid rgb(166, 214, 247);
    color: rgb(166, 214, 247);
    border-radius: 20px;
}